*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}





/* Navigation Section */
#nav-section1{
    height: 140px;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    padding-bottom: 30px;
}

#logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 500;

}

#logo-name img{
    height: 60px;
    width: 60px;
    background-size: cover;
    float: left;
}

#name{
    font-weight: bold;
    color: #333;
    margin-left: 8px;
}

#mail{
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
}

#mail i{
    font-size: 25px;
    margin: 0 10px;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px;
    color: white;
    background-color: #014b07;
}

#phone{
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
}

#phone i{
    font-size: 25px;
    margin: 0 10px;
    border: 1px solid #333;
    border-radius: 50%;
    padding: 5px;
    color: white;
    background-color: #014b07;
}

#account button{
    background-color: #013f03;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}

#account button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#account button:hover {
    transition-duration: 0.9s;
    color: rgb(255, 255, 255); 
    background-color: #048519; 
    box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.2);
    cursor: pointer; 
}






/* Navigation Bar */
#nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 11%; 
    margin: -30px 20%;
    text-align: center;
    position: relative;
    border: none; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}

#nav1 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
}

#nav2 a{
    font-size: 15px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    margin: 0; 
    padding: 0; 
}

.nav_links li {
    margin: 0 15px; 
}

.nav_links li a {
    text-decoration: none; 
    color: #000000; 
    font-size: 18px;
    padding: 0px 10px; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav_links li a:hover {
    transition: 0.5s;
    color: #05a01f;
}

.nav_links p {
    text-decoration: none; 
    color: #000000; 
    font-size: 15px;
    font-style: italic;
    padding: 0px 10px; 
    transition: background-color 0.3s, color 0.3s; 
}

.nav_links button{
    background-color: #013f03;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.nav_links button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav_links button:hover {
    transition-duration: 0.9s;
    color: rgb(255, 255, 255); 
    background-color: #048519; 
    box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.2);
    cursor: pointer; 
}






/* Carousel Container */
.carousel {
    position: relative;
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    height: 650px;
    border-radius: 20px;
}

.carousel-inner {
    display: flex;
    background-size: cover;
    transition: transform 0.8s ease;
}

.carousel-item {
    min-width: 100%;
}

.carousel-item img {
    position: relative;
    width: 100%;
    display: block;
    background-size: cover;
}

/* Navigation Buttons */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    padding: 8px 18px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 15px;
}

.carousel-control-next {
    right: 15px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.carousel-indicators div {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #333;
}





/*  About Section  */
#about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 100px;
    margin-top: 60px;
    background-color: #f1f1f1;
}

#about-section img{
    padding: 0 100px;
    background-size: cover;
}

#about{
    padding: 0 100px;
    padding-right: 150px;
    background-size: cover;
}

#about h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #01520e;
    padding-bottom: 10px;
}

#about p{
    font-size: 18px;
    color: #333333cb;
    padding-top: 10px;
}





/*  Donation Section  */
#donation-section{   
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin-top: 60px;
    padding: 0 100px;
    padding-bottom:100px ;
}

#donation{
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    position: relative;
}

#donation-section h1{
    font-size: 40px;
    font-weight: 700;
    color: #01520e;
    padding-bottom: 80px;
}

#donation img{
    height: 240px;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#donation1{
    width: min-content;
    border: 0.5px solid #333;
    background-size: cover;
    border: none; 
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    border-radius: 16px;
    margin: 0 10px;
    background-color: #e2e1e1;
}

#donation1 h2{
    font-size: 30px;
    font-weight: 600;
    color: #05a01f;
    padding: 15px 0;
}

#donation1 p{
    font-size: 15px;
    color: #333333cc;
    padding: 15px 5px;
}

#donation1 button{
    background-color: #013f03;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}





/*  news Section  */
#news-section{
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding: 60px 100px;
    margin-top: 60px;
    /* padding-bottom: 300px; */
    background-image: url(../assets/paper.jpg);
}

#news-section h1{
    font-size: 40px;
    font-weight: 700;
    color: #01520e;
    padding-bottom: 80px;
}

#news{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#news img{
    height: 500px;
    background-size: cover;
    border-radius: 16px;
}

#news1{
    width: min-content;
    border: 0.5px solid #333;
    background-size: cover;
    border: none; 
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    border-radius: 16px;
    padding: 10px;
    margin: 0 10px;
    background-color: #ffffff;
}

#news2{
    width: min-content;
    border: 0.5px solid #333;
    background-size: cover;
    border: none; 
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
    border-radius: 16px;
    padding: 10px;
    margin: 0 10px;
    background-color: #ffffff;
}

#news h3{
    padding: 15px 0;
}

#news a{
    text-decoration: none; 
    color: #000000;
}

#news a:hover {
    transition: 0.5s;
    color: #048519; 
}





/*  Video Section  */
#video-section{
    /* margin-top: -100px; */
    display: flex;
    justify-content: space-around;
    padding: 100px;
}

#video-section iframe{
    background-size: cover;
    border-radius: 16px;
}





/*  Volunteer Section  */
#Volunteer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 20px; /* Adjust padding as needed */
    margin-top: 60px;
    height: 500px;
    background-image: url(../assets/join.jpg);
    background-size: cover;
    opacity: 80%;
}

#Volunteer-section button {
    margin-top: 30px; 
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    color: black;
}

#Volunteer-section button a {
    text-decoration: none;
    color: black;
}

#Volunteer-section button:hover {
    transition-duration: 0.9s;
    color: rgb(255, 255, 255); 
    background-image: url(../assets/join.jpg); 
    box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.2);
    cursor: pointer; 
}



/* footer  */
#footer{
    text-align: center;
    padding: 60px 100px;
    color: #f1f1f1de;
    background-image: url(../assets/ee.jpg);
}